#iconSite {
    width: 15px;
    height: 15px;
    background-color: var(--brand100);
    opacity: 0.5;
    border-radius: var(--radius-50);
}
body{
    height: 100vh;
    position: relative;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0px;
    background-color: var(--white-fixed);
    border-bottom: 1px solid rgba(0,0,0, 0.20);
}

main{
    background: url(../../assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

main form{
    width: 300px;
    background-color: rgba(255,255,255, 0.90);
    padding: 30px;
}
